/* fonts */
*{
	margin:0;
	padding: 0;
}

@font-face{
	font-family: AlexBrush;
	src:url("../fonts/AlexBrush-Regular.ttf");
}
@font-face{
	font-family: AnticDidone;
	src:url("../fonts/AnticDidone-Regular.otf");
}


/*  globals */
body{
	font:18px/2.5 AnticDidone, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f7f7f7;
}



.container {
	width: 90%;
	margin: 0 auto 0 auto;
	overflow: hidden;
}


 ul{
	margin: 0;
	padding: 0;
}


input[type='text'], 
 input[type='email'],
  textarea{
    width: 100%;
    padding: 12px;
    border: none;
    border-top: 1px solid #ccc;


    border-radius: 4px;
    background-color: inherit;
    font-size: 20px;
    font-family: inherit;
    resize: vertical;
}
textarea{
	border-bottom: 1px solid #ccc;
}

input:focus, textarea:focus{
	outline: none;
}

.form-input input, .form-input textarea{
	margin-top: 30px;

}

.form-input .submit-btn{

	width: 100%;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}



.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	flex-wrap: wrap;

}
.flex-row .col-60{

	width: 60%;

	 
}
.flex-row .col-30{

	width: 32%;

}
.image img{
	 max-width: 85%;
	 height: auto;
}



.submit-btn {
	background-color: #60afff;
	color: #fff;
    padding: 15px 32px;
    text-align: center;
	border:none;
	border-radius: 4px;
	cursor: pointer;
}
.submit-btn:hover{
	background-color: #479ef7;
}



/*  header */

.header-container {
   background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/apartment-clean.jpg") no-repeat;
   background-size: cover;
   background-position: center;
   height:100vh;
   color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;

   display:flex;
   flex-direction: column;


}
.nav-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display:flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;	
	justify-content: flex-end;
	align-items: center;
	background-color: #fff;
	height: 70px;
	/*padding:0 0px;*/
	padding-top: 4em;
	

}



.branding {
	margin-left: 5%;


}
.branding img{
	display: block;
	max-width: 250px;
	height: auto;
}
nav {
	
/* margin: 0 0 0 5px;*/

}

.nav-container li a.current{
	color:#7bbffc;

	font-weight: bold;
}

.nav-container a:focus ,header a:hover {
	color:#cccccc;
}

.nav-container ul {
	margin-top: 0px; 

}

.nav-container ul a{
	color:#292a2b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


.nav-container ul li {
	cursor: pointer;
	display: inline-block;
	padding: 0 10px 0 10px; 
}





.h-text{
	margin: auto;
	text-align: center;
	font-family: AlexBrush;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 3px;
	width: 100%;

}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;


}

.white-nav, .white-nav ul{
	background-color: #fff;

}

.white-nav ul a{
	color:  #000;
}
.white-nav li a.current{
	color:#7bbffc;

	font-weight: bold;
}

#contact-form {
	padding: 20px;
	margin:auto;
	text-align: center;
}
#about {
	padding: 20px;
	margin:auto;

}
#services {
	padding: 20px 10px 20px 10px;
	margin-top: 1em;
	margin-bottom: 1em;

}
#services .flex-row{
	margin:15px 0 15px 10px;
}

footer {
	padding:20px;
	color: #ffffff;
	background-color: #3b3c3d;
	text-align:center;
}
